Package: com.cl3ment.mycarrier
Name: MyCarrier
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Cl3ment
Author: Cl3ment
Section: Tweaks
